openapi: 3.0.1
info:
  title: OpenAPI definition
  version: v0
servers:
  - url: https://buggy.tech.goharbor.com
    description: Generated server url
paths:
  /book/{id}:
    get:
      tags:
        - book-info-controller
      operationId: getBookById_1
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BookDTO'
    put:
      tags:
        - book-info-controller
      operationId: updateBook_1
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookDTO'
    delete:
      tags:
        - book-info-controller
      operationId: deleteBook_1
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
  /book:
    post:
      tags:
        - book-info-controller
      operationId: createBook_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookDTO'
  /getBookByName:
    get:
      tags:
        - book-info-controller
      operationId: getBookByName
      parameters:
        - name: bookName
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BookDTO'
components:
  schemas:
    BookDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        author:
          type: string
        isbn:
          type: string
        publisher:
          type: string
        createdAt:
          type: integer
          format: int64
        creditCardNumber:
          type: string

